*{
    margin: 0 auto;
    padding: 0;
}
body{
    background: #F8F8F7;
    font-family: "微软雅黑";
}
a{
    color:#22A75B;
}
a:hover{
    color:#22A75B;
}
.allwidth{
    width: 100%;
}
.to-right{
    float: right;
}
.btn-def {
    color: #fff;
    background-color: rgb(140,204,193);
    border-color: rgb(140,204,193);
}
.btn-def:hover{
    color: #fff;
    background-color: rgb(111,191,177);
    border-color: rgb(111,191,177);
}
.panel{
    border: none;
}
.panel-def {
    border-color: #C2D5D2;
    box-shadow: 2px 2px 10px 0px #999;
}
.panel-def > .panel-heading {
    color: #368C7C;
    background-color: #D2E8E5;
    border-color: #C2D5D2;
}

.list-ul{
    list-style-type:none;
    padding:0;
}
.list-ul li{
    margin: 0 20px;
    border-bottom: 1px dashed #ebebea;
    width: 80%;
    height: 44px;
    line-height: 44px;
    float: left;
}
.list-ul li a{
    display: inline-block;
    width: 100%;
    color: #12937C;
    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
}

.header-1{
    padding: 10px 0;
}
.header-2{
    margin-top: 10px;
    background-color: rgb(210,232,229);
}
.container-fluid{
    padding:0 12%;
}
.logo{
    display: inline-block !important;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
    position: relative;
    top: -10px;
    left: 0;
}
.navbar-nav>li{
    margin: 10px 5px;
}
.navbar-nav>li a{
    padding:5px 15px !important;
    color:#22A75B !important;
    font-weight: 600;
}
.navbar-nav .active>a{
    background-color: rgb(18, 147, 124) !important;
    color: #fff !important;
}
.bg-def{
    background-color: #D2E8E5;
}
.open>a{
    background-color: RGB(210,232,229) !important;
}
.upicon{
    position: absolute;
    z-index: 1005;
    left: 15px;
    top: -20px;
    width: 0;
    height: 0;
    font-size: 0;
    border-width: 10px;
    border-color: transparent transparent #fff;
    border-style: dashed dashed solid;
}
.dropdown-menu{
    border:none;
    top: 130%;
    min-width:260px;
}
.foot-top{
    padding: 40px 0;
    padding-bottom: 10px;
    margin-top: 100px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.foot-top li{
    display: inline;
    padding: 0 2px;
}
.foot-top li a{
    color: #777;
}
.foot-bottom{
    text-align: center;
    font-size: 14px;
    padding-bottom: 10px;
    color: #aaa;
}
.foot-bottom a{
    color: #aaa;
}
#showclassify{
    padding: 10px 0 10px 15px;
}
#showclassify li{
    list-style: none;
}

#showclassify ul li{
    display: inline-block;
    width: 33%;
}
#showclassify ul{
    padding: 10px 0;
}
#showclassify ul li a{
    font-size: 12px;
    font-weight: normal;
}


#mask{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    z-index: 999;
    margin: 0;
    padding: 0;
    display: none;
}
.prompt{
    position: fixed;
    width: 50%;
    background-color: rgba(0,0,0,.6);
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    color:#fff;
    border-radius: 8px;
    padding: 15px;
    display: none;
}

.popup{
    position: fixed;
    width: 30%;
    background-color: #fff;
    text-align: left;
    color:#333;
    border-radius: 5px;
    display: none;
    z-index: 1000;
    box-shadow: 10px 10px 15px 5px rgba(0,0,0,.6);
}
.popup_close{

}
.popup_header{
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #ccc;
    padding:10px;
    background-color: #466DBA;
    position: relative;
}
.popup_close{
    position: absolute;
    right: 10px;
    top: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    font-size: 24px;
}
.popup_close:hover{
    color:red;
}
.popup_title{
    font-size: 16px;
    color: #fff;
}
.popup_content{
    min-height: 80px;
    padding:10px;
    font-size: 16px;
    line-height: 20px;
    color: #888888;
}
.popup_footer{
    border-top: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    background-color: #F9F9F9;
    padding: 10px;
    text-align: right;
}
.popup_btn{
    cursor: pointer;
    display: inline-block;
    border: none;
    border-radius: 4px;
    padding:0 15px;
    background: none;
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    opacity: .8;
    margin: 0 5px;
}
.btn_ok{
    background-color: #66BB6A;
}
.btn_off{
    background-color: #EF5350;
}
.popup_btn:hover{
    opacity: 1;
}
textarea{
    padding: 8px;
}
.myput .btn{
    color:#fff !important;
}
.myput .dropdown-menu{
    background-color: rgb(210,232,229);;
    min-width:100px !important;
}