body{
    background-color: #F8F8F7;
    font-family: "微软雅黑";
}

.login-header{
    background-color: #fff;
    padding: 10px 5%;
}
.login-content{
    padding-top: 50px;
}
.panel-heading{
    font-size: 18px;
    background-color: #fff !important;
}
.login-btn{
    margin-top: 30px;
}
.login-content-body{
    padding:30px 30px
}
.login-footer{
    text-align:center;
    padding: 10px 10%;
    margin-top: 100px;
    color: #999;
}
.login-footer a{
    color: #999;
}